* {
  background-color: #ffa07a;
}

.salmon {
  width: 1000px;
  height: 312px;


}
header {
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 60px;
}
.familysection {
  margin-top: 30px;
}

.family {
  margin-left: 525px;
}
#about {
  position: absolute;
  top: 10px;
  left: 0;
  width: 500px;
  margin-left: 700px;
  padding: 5px;
  border: 1px solid black;
  opacity: 0.75;

}
nav {
  padding-left: 40px;

}
.chinook {
  width: 175px;
  height: 40px;

}
article {
  margin-top: 100px
  margin-bottom: 300px;
  padding-left: 450px;
  position: relative;
  width: 100%;
}
section{
  text-align: center;
  margin-top: 100px;
}
.locations {
  display: inline-block;

}

.locations li a {
  text-decoration: none;
}
.locations ul li {
  list-style: none;
}

.location-photo {
  width: 150px;
  height: 120px;
}
.cutter {
  width: 70px;
  height: 60px;
}
.frost {
  width: 70px;
  height: 60px;
}
ul li {
  text-decoration: none;
}

footer {
  text-align: center;
}
