* {
	background-color: #ffa07a;
  font-family: 'Bungee Inline', cursive;
}

table {
	outline: 2px solid black;
  text-align: center;
}

tr {
	/*outline: 1px solid black;*/
}

th, td {
	outline: 1px dashed blue;
	padding: 3px;
  background-color: #FFBCA1;

}

h1 {
  text-align: center;
}
fieldset {
  font-size: 20px;
  width: 900px;
}

.table {
	margin-left: 275px;
}

#salmon-cookies-round-two {
	margin: 0 auto;
}
